body {
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 720px;
    margin: auto;
    background: white;
    min-height: 100vh;
    padding: 5px 15px;
}

svg {
    width: 100%;
    border: 10px inset lightgrey;
}

circle {
    stroke: transparent;
    transition: stroke 0.2s;
}

circle:hover {
    stroke: black;
}
